@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url("../fontes/idroid.otf") format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #3FDB90;
    --cor1: #177447;
    --cor2: #b88e3a;
    --cor3: #af8d4a;
    --cor4: #B056DB;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}
body{
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor3));
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-color: var(--cor0);
    height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom:40px ;
    background-image:linear-gradient(to top, var(--cor1), var(--cor0));

}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
}
header > p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
    max-width: 500px;
    margin: auto;
    padding: 0px 10px
    
}
nav{
    background-color:var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.329);
}
nav > a{
    text-decoration: none;
    color:white;
    padding: 10px;
    font-weight: bold;
    transition-duration:0.4s ;

}
nav > a:hover{
    background-color: var(--cor0);
    color: var(--cor1);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main h1{
    color: #8f47b1;
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}
main h2{
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.5em;
    text-indent: 8px;
    font-weight: normal;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong{
    color: var(--cor1);
    font-weight: bold;
}
main a{
    padding: 0px 2px;
    background-color: var(--cor0);
    color: var(--cor1);
    text-decoration: none;
    font-weight:bold; 
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}


main img{
    width: 100%;

}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

div.video{
    background-color: #0b3a23;

    margin:0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom:57% ;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #a8fdd4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
}
aside > h3{
    background-color: #177447;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    padding: 10px;
    list-style-type: '\1F5F8\00A0\00A0';
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}
footer a:hover{
    color: rgb(84, 84, 158);
}